/* fade */
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.1s;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

/* fade-transform */
.fade_transform-leave-active,
.fade_transform-enter-active {
	transition: all 0.5s;
}

.fade_transform-enter-from {
	opacity: 0;
	transform: translateX(-30px);
}

.fade_transform-leave-to {
	opacity: 0;
	transform: translateX(30px);
}

/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
	transition: all 0.5s;
}

.breadcrumb-enter-from,
.breadcrumb-leave-to {
	opacity: 0;
	transform: translateX(20px);
}

.breadcrumb-move {
	transition: all 0.5s;
}

.breadcrumb-leave-active {
	position: absolute;
}

.list-complete-enter
/* .list-complete-leave-active for below version 2.1.8 */ {
	opacity: 0;
}
.list-complete-leave-to {
	opacity: 0;
	transition: none;
}
.list-complete-leave-active,
.list-complete-leave-to,
.list-complete-leave {
	position: absolute !important;
}
.list-complete-move {
	transition: all 1s;
}
