@font-face {
	font-family: "iconfont"; /* Project id 2358776 */
	src: url("//at.alicdn.com/t/font_2358776_ixsj1e5jqec.woff2?t=1646575327676")
			format("woff2"),
		url("//at.alicdn.com/t/font_2358776_ixsj1e5jqec.woff?t=1646575327676")
			format("woff"),
		url("//at.alicdn.com/t/font_2358776_ixsj1e5jqec.ttf?t=1646575327676")
			format("truetype");
}

[class^="self"],
[class*=" self"] {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.self-danmu:before {
	content: "\e612";
}

.self-jiqiren:before {
	content: "\e713";
}

.self-90:before {
	content: "\e678";
}

.self-song:before {
	content: "\e601";
}

.self-netease:before {
	content: "\e600";
}

.self-like:before {
	content: "\e64e";
}

.self-banana:before {
	content: "\e6b5";
}

.self-gift:before {
	content: "\e6f6";
}

.self-coin:before {
	content: "\e624";
}
