$--font-size-logo: 30px !important;

$--color-primary: rgb(102, 167, 218);
$--color-success: #67c23a;
$--color-warning: #e6a23c;
$--color-danger: #f56c6c;
// $--color-info: #f6f6f6;

$--background-color-base: #fafafa;
$--box-shadow-dark: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
$--font-path: "~element-plus/lib/theme-chalk/fonts";
// @import "~element-plus/packages/theme-chalk/src/index";
@import "~element-plus/packages/theme-chalk/src/common/var.scss";
