.randomnum {
  width: 100%;
  position: absolute;
  font-family: 'stm';
  color: #ffffff;
  text-align: center;
  position: absolute;
  right: 30px;
  top: 0;
  color: #daf6ff;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
  background: #0f3854;
  // background: radial-gradient(ellipse at center,  #0a2e38  0%, #000 70%);
  background-size: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &.show {
    display: flex;
  }

  .center {
    letter-spacing: 0.05em;
    font-size: 80px;
    padding: 5px 0;
  }

  .line {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input {
    width: 100px;
    height: 30px;
    border: none;

    &:nth-child(1) {
      margin-right: 10px;
    }
  }

  .btn {
    cursor: pointer;
    font-size: 30px;
    margin: 10px 5px;
    color: #fff;
  }
}
