@mixin buttonBase($backgroundColor, $hoverColor, $color) {
	background-color: $backgroundColor;
	color: $color;
	border: none;
	box-shadow: var(--generalStyle_shadow_base);
	transition: background-color 0.25s;
	&:hover,
	&.is-disabled {
		background-color: $hoverColor;
		color: $color !important;
		box-shadow: var(--generalStyle_shadow_hover);
	}
}

@mixin buttonText($color, $hoverColor) {
	color: $color;
	transition: color 0.25s;
	&:hover {
		color: $hoverColor;
	}
}

.btnBase {
	@include buttonBase(
		var(--generalStyle_color_primary),
		var(--generalStyle_color_primary_EL),
		white
	);
}

.buttonIcon {
	border: none !important;
	font-size: var(--generalStyle_fontSize_L) !important;
	color: var(--generalStyle_fontColor_Second) !important;
	transition: color 0.25s !important;
	height: 100% !important;
	display: flex !important;
	align-items: center !important;
	padding: 0px 6px !important;
	cursor: pointer !important;
	&.divider {
		padding: 0px !important;
	}
	&:last-child {
		padding-right: 0px !important;
	}
	&:hover {
		color: var(--generalStyle_color_primary) !important;
	}
}

:export {
	buttonBase: buttonBase;
	buttonText: buttonText;
}
