@mixin dialogBase {
	&:deep .dialogBase {
		.el-dialog__header {
			display: flex;
			justify-content: space-between;
			padding: 8px 16px;
			.el-dialog__title {
				font-size: var(--generalStyle_fontSize_M);
				color: var(--generalStyle_fontColor_First);
			}
			.el-dialog__headerbtn {
				position: unset;
			}
		}
		.el-dialog__body {
			padding: 8px 16px;
			div {
				width: 100%;
				white-space: pre-wrap;
				user-select: none;
				color: var(--generalStyle_fontColor_Second);
				line-height: 1.6;
			}
		}
	}
}

:export {
	dialogBase: dialogBase;
}
